{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="{% static 'Core/css/bootstrap.min.css' %}" rel="stylesheet" />
    <script src="{% static 'Core/js/bootstrap.bundle.min.js' %}"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% block link_css %}{% endblock %}    
  </head>
  <body class="bg" data-bs-theme="dark">
    {% include 'Core/includes/header.html' %}
    <main>
      <h1 class="text-center gap-25">Видео</h1>
      <div class="flex-wrap d-flex justify-content-center gap-4">
        {% for video in videos %}
          <div class="card" style="width: 18rem; max-width: 95%;">
            <iframe class="w-100 rounded-top-2" src="https://www.youtube.com/embed/{{ video.embed_code }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="card-body justify-content-between d-flex flex-column align-items-center">
              <div>
                <h5 class="card-title">{{ video.title }}</h5>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </main>
    <footer></footer>
  </body>
</html>
