{% extends 'Core/base.html' %}
{% block title %}{% endblock %}
{% block content %}
{% csrf_token %}
  <body class="d-flex flex-column" data-bs-theme="dark">
    <h1 class="text-center">Загада число</h1>
    {% if result %}
      {% if result == '1' %}
        <span class="mx-auto fw-bold text-success fs-3">{{ result }}</span>
      {% else %}
        <span class="mx-auto fw-bold text-danger fs-3">{{ result }}</span>
      {% endif %}
    {% endif %}
    <form action="" method="post" class="mx-auto d-flex gap-1">
      {% csrf_token %}
      <input type="number" placeholder="Напиши цифру" name="number" class="form-control" />
      <button type="submit" class="btn btn-secondary">Отправить</button>
{% endblock %}
